body {
    margin: auto;
    font-family: cursive;
}

header {
   
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding-top: 30px;
    text-align: center;
   
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    float: left
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration:none;
    }

        li a:hover {
            background-color: #111;
        }

#logo {
    height: 60px;
    width: 80px;
}

#logo2 {
    height: 30px;
    width: 40px;
}

#logo3 {
    height: 30px;
    width: 40px;
    padding-top: 15px;
}

#search {
    padding-left: 1200px;
}

aside {
    width: 20%;
    height: 900px;
    position: relative;
    padding-left: 15px;
    margin-left: 0;
    float: left;
    background-color: lightgray;
}

    aside a {
        text-decoration: none;
    }

footer {
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
}


table {
    text-align: center;
    padding-top: 50px;
    border: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

th{
    padding-left:20px;
}

.produit {
    height: 150px;
    width: 150px;
}

